<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaflet Bhumi</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
  var map = L.map("map").setView([-6.3667, 107.1736], 10);

  var osm = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  });

  osm.addTo(map);

  var OpenTopoMap = L.tileLayer(
    "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png",
    {
      maxZoom: 17,
      attribution:
        'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
    }
  );

  googleStreets = L.tileLayer(
    "http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}",
    {
      maxZoom: 20,
      subdomains: ["mt0", "mt1", "mt2", "mt3"],
    }
  );

  googleSat = L.tileLayer("http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}", {
    maxZoom: 20,
    subdomains: ["mt0", "mt1", "mt2", "mt3"],
  });

  var firstMarker = L.marker([-6.2088, 106.8456], { draggable: true });
  var secondMarker = L.marker([-6.3447, 106.8331], { draggable: true });
  var thirdMarker = L.marker([-6.2232, 106.4203], { draggable: true });

  var fourthMarker = L.marker([-6.31694, 106.66417], { draggable: true });
  var fifthMarker = L.marker([-6.21694, 106.56417], { draggable: true });
  var sixthMarker = L.marker([-6.11694, 106.46417], { draggable: true });

  var popup = firstMarker
    .bindPopup("This is Marker 1 " + firstMarker.getLatLng())
    .openPopup();
  popup.addTo(map);
  var popup = secondMarker
    .bindPopup("This is Marker 2 " + secondMarker.getLatLng())
    .openPopup();
  popup.addTo(map);
  var popup = thirdMarker
    .bindPopup("This is Marker 3 " + thirdMarker.getLatLng())
    .openPopup();
  popup.addTo(map);

  var popup = fourthMarker
    .bindPopup("This is Marker 4 " + fourthMarker.getLatLng())
    .openPopup();
  popup.addTo(map);
  var popup = fifthMarker
    .bindPopup("This is Marker 5 " + fifthMarker.getLatLng())
    .openPopup();
  popup.addTo(map);
  var popup = sixthMarker
    .bindPopup("This is Marker 6 " + fifthMarker.getLatLng())
    .openPopup();
  popup.addTo(map);

  var baseMaps = {
    OSM: osm,
    Topo: OpenTopoMap,
    "Google Streets": googleStreets,
    "Google Satellite": googleSat,
  };

  var overlayMaps = {
    "First Marker": firstMarker,
    "Second Marker": secondMarker,
    "Third Marker": thirdMarker,
    "Fourth Marker": fourthMarker,
    "Fifth Marker": fifthMarker,
    "Sixth Marker": sixthMarker,
  };

  L.control.layers(baseMaps, overlayMaps).addTo(map);
</script>
